
/*Colors*/  
red: #F21628;
lightblue: #C9EBF2;
darkerblue: #135EF2;
yellow: #F2B90F;


/* Mixin's */  
@mixin transition {
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
@mixin corners ($radius) {
-moz-border-radius: $radius;
-webkit-border-radius: $radius;
border-radius: $radius; 
-khtml-border-radius: $radius; 
}

body {
background:#F2B90F;
font-family: 'Monoton', cursive;
height:100%;
color: #F21628;
}

.wrapper {
width: 800px;
margin: 30px auto;
text-align: center;
}

h1, h2, h3 {
  font-family: Monoton', cursive;
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
  color: #F21628;
  text-align: center;
  padding: 10px;
}

#seconds, #tens, #colon{
  font-size:3em;
  color: #C9EBF2;
  font-family: Arial, Helvetica, sans-serif;
  size:5px;
}

button{
@include corners (5px);
background:#135EF2;
color: #F2B90F;
text-decoration:none;
cursor:pointer;
font-size:1.2em;
padding:18px 10px;
width:180px;
margin: 10px;
border-radius: 0.5rem;
}

button:hover{
  background: #C9EBF2;
}






